@{
    ViewBag.Title = "Home Page";
}


          <section class="sectionc">
              <div class="container">
                  <div class="carousaldiv1">
                      <img class="image1" src="~/Views/Home/css/dragonpicture.png" />
                  </div>
                  <div class="carousaldiv2">
                      <img class="image2" src="kingkaipicture.png" />
                  </div>
                  <div class="carousaldiv3">
                      <img class="image3" src="css/gohanpicture.png" />
                  </div>
                  <div class="carousaldiv4">
                      <img class="image4" src="css/turlespicture.png" />
                  </div>
                  <div class="carousaldiv5">
                      <img class="image1" src="css/dragonpicture.png" />
                  </div>
              </div>
          </section> 
          <section>

          </section>
  