
@{
    ViewBag.Title = "custNotFound";
}
<style>
    h2,h4 {
        font-family:'Trebuchet MS'; 
    }
</style>
<h2>Error</h2>
<h4>Sorry this customer cannot be found ...</h4>

@Html.ActionLink("Customers", "listofcust", "Customer")
@Html.ActionLink("Contact", "Contact", "Home")

