@model mvc15jan.ViewModels.employeePerson
@{
    ViewBag.Title = "bothcombined";
}

<h2>bothcombined</h2>
<h1>@Model.person.id_number @Model.person.name_person</h1>
<h2>@Model.employement.job_name</h2>

