
@{
    ViewBag.Title = "notFound";
}

<style>
    h2, h4 {
        font-family: 'Felix Titling';
        font-weight:500; 
           }
</style>
<h2>Error</h2>
<h4>Sorry this movie cannot be found ...</h4>

@Html.ActionLink("Back to movies", "listofmovies", "movies") <br/> 
@Html.ActionLink("Contact", "Contact", "Home") 