@{ 
    Layout = null; 
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Trevlin's Website</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="~/Content/Structure.css" /> 
</head>
<body>
    <header class="heading">
        <img class="image1" src="~/Content/Logos/GameIcon.png" alt="sdf" />
        <span class="headingHeader">Game-View Studios</span>
        <nav class="nav-bar">
            <ul class="nav-ul">
                <li id="jhome" class="nav-li navhome active"><a href="~/Home/nopartial">Home</a></li>
                <li id="jgames" class="nav-li navgames"><a href="~/Food/ListFoods">Foods</a></li>
                <li id="jcontact" class="nav-li navcontact"><a href="~/Home/Contact">Contact Us </a></li>
                <li id="jabout" class="nav-li navabout"><a href="~/Home/About">About Us </a></li>
            </ul>
        </nav>
    </header>
    <div class="coverFix">
        <p id="homeID" class="para1"></p>
    </div>

    <main class="content">
        <section class="section1">
            <img src="https://th.bing.com/th/id/R.f89c1362137aa1c67b3c5a333bff427b?rik=DekAcSHNWglwMQ&pid=ImgRaw&r=0" class="sasukeImage" alt="image of sasuke" />
            <h1 class="homeHeading">Game Studios</h1>
            <h1 class="homeWords"> proudly presents</h1>
            <a href="readMore.html">Read More</a>
            <p id="GamesOverview" class="para2"></p>
        </section>
       
    </main>
    <script src="Structure.js"></script>
</body>
</html>
