
@{
    ViewBag.Title = "streamerIdNotFound";
}

<h3 style="font-family:'Trebuchet MS';font-style:italic; display:flex; justify-content:center;">sorry , The streamer ID does not match any of our results </h3>
<p style="margin-top:10px;"><i>@Html.ActionLink("previous page", "listofstreamer", "streamer")</i></p>

