@model Vidly.Models.Customer 
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>@Html.ActionLink(Model.Name,"Random","Movies") </td> 
        </tr>
        
    </tbody> 
</table>

