
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Trevlin's Website</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="~/Content/Structure.css" />
</head>
<body>
    <header class="heading">
        <img class="image1" src="https://th.bing.com/th/id/R.ca8e8c83ec6be971454825f722227ad7?rik=NunLExNB%2fiNLtQ&pid=ImgRaw&r=0" alt="sdf" />
        <span class="headingHeader">Fitness Jim</span>
        <nav class="nav-bar">
            <ul class="nav-ul">
                <li id="jhome" class="nav-li navhome active"><a href="~/Home/nopartial">Home</a></li>
                <li id="jgames" class="nav-li navgames"><a href="~/Food/ListFoods">Workouts</a></li>
                <li id="jcontact" class="nav-li navcontact"><a href="~/Home/Contact">Calculators</a></li>
                <li id="jabout" class="nav-li navabout"><a href="~/Home/About">Trainers</a></li>
                <li id="jabout" class="nav-li navabout"><a href="~/UserProfile/CreateForm">User Profile</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <section class="section1">
            <img src="https://th.bing.com/th/id/R.251d5764b263e7d80c947e6d66219d5c?rik=3RMKGzYjqKqT9Q&pid=ImgRaw&r=0" class="sasukeImage" alt="image of sasuke" />
            <h1 class="homeHeading">Discipline.</h1>
            <h1 class="homeWords"> Power, Perseverance &</h1>
            <h4 class="readmore"><a href="readMore.html">Read More</a></h4>
            <p id="GamesOverview" class="para2"></p>
        </section>

    </main>
    <footer class="ending">

        <div id="Contact" class="footerpart1">
            <p>Follow us </p>
        </div>
        <div class="footerpart2">
            <img src="~/Content/Images/bizinsider.png" alt="nothing to show here logo" class="imageLogo" />
        </div>
        <div class="footerpart3">
            <p>Contact Us About Us Privacy Policy Cookie Policy Site Map Terms and Conditions </p>

            <p> Copyright 2022. All Rights Reserved. Reproduction in whole or in part without permission is prohibited.</p>
        </div>

    </footer>
    <script src="Structure.js"></script>
</body>
</html>
